[user]
  name  = Jamal El Milahi
  email = jamal@bloc40.com

[color]
  ui     = auto
  diff   = auto
  branch = auto

[commit]
  template = /etc/git-commit-template

[core]
  pager            = cat
  editor           = vim
  filemode         = true
  logallrefupdates = true
  whitespace       = trailing-space,space-before-tab,indent-with-non-tab
  excludesfile     = $HOME/.gitignore_global

[alias]
  br  = !git branch --color -v | cut -c1-100
  ci  = commit
  co  = checkout
  ll  = log -20 --pretty=oneline --decorate --graph --abbrev-commit
  lll = log -20 --graph --pretty=format:'%Cgreen%h %Cred%d%Creset %s%Creset %C(black bold)(%cr)%Creset %Cblue<%an>%Creset'
  st  = status

[difftool "sourcetree"]
  cmd  = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[color "status"]
  added     = green
  changed   = red bold
  untracked = magenta bold

