[user]
  name  = Jamal El Milahi
  email = jamal@bloc40.com

[color]
  ui     = auto
  diff   = auto
  branch = auto

[commit]
  template = /etc/git-commit-template

[core]
  pager            = less
  editor           = vim
  filemode         = true
  logallrefupdates = true
  whitespace       = trailing-space,space-before-tab,indent-with-non-tab
  excludesfile     = $HOME/.gitignore_global

[alias]
  br   = !git branch --color -v | cut -c1-100
  ci   = commit
  cia  = commit --amend
  cl   = clean -df
  co   = checkout
  df   = diff
  dfs  = diff --staged
  lg   = log -20 --oneline --decorate --graph
  lll  = log -20 --graph --pretty=format:'%Cgreen%h %Cred%d%Creset %s%Creset %C(black bold)(%cr)%Creset %Cblue<%an>%Creset'
  st   = status
  sts  = status -s
  web  = instaweb --httpd=webrick
  webs = instaweb --stop

[difftool "sourcetree"]
  cmd  = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[color "status"]
  added     = green
  changed   = red bold
  untracked = magenta bold

[gc]
	auto = 1
