[user]
  name  = Jamal El Milahi
  email = jamal@elmilahi.com

[color]
  ui     = auto
  diff   = auto
  branch = auto

[commit]
  template = /etc/git-commit-template

[core]
  pager            = less
  editor           = vim
  filemode         = true
  logallrefupdates = true
  whitespace       = trailing-space,space-before-tab,indent-with-non-tab
  excludesfile     = /Users/jamal/.gitignore_global

[alias]
  br   = !git branch --color -v | cut -c1-100
  ci   = commit
  cia  = commit --amend
  cl   = clean -df
  co   = checkout
  cp   = cherry-pick
  df   = diff
  dfs  = diff --staged
  ll   = log -20 --oneline --decorate --graph --all
  lll  = log -20 --graph --all --pretty=format:'%Cgreen%h %Cred%d%Creset %s%Creset %C(black bold)(%cr)%Creset %Cblue<%an>%Creset'
  lp   = log -p
  st   = status
  sts  = status -s
  web  = instaweb --httpd=webrick
  webs = instaweb --stop

[color "status"]
  added     = green
  changed   = red bold
  untracked = magenta bold

;[gc]
	;auto = 1

