snippet html5
	<!DOCTYPE html>
	<html lang=en>
		<head>
			<meta charset=utf-8>
			<meta name=description content="">
			<meta name=author content="Jamal El Milahi">
			<title></title>
		</head>
		<body>
		</body>
	</html>

