#------------------------------------------------------
# Extra Javascript snippets
#------------------------------------------------------

# Jasmine
snippet bef
	beforeEach(function() {
		${0}
	});
snippet it
	it('should ${1}', function() {
		${0}
	});
snippet des
	describe('${1:subject}', function() {
		it('should ${2}', function() {
			${0}
		});
	});
