#------------------------------------------------------
# Extra Javascript snippets
#------------------------------------------------------

# Jasmine
snippet bef
	beforeEach(function() {
		${1}
	});
snippet it
	it('should ${1}', function() {
		${2}
	});
snippet des
	describe('${1:subject}', function() {
		${2}
	});
snippet desit
	describe('${1:subject}', function() {
		it('should ${2}', function() {
			${3}
		});
	});
