snippet defm
defmodule ${1:ModuleName} do
	${0}
end
endsnippet

snippet def
def ${1:functionName}${2:(${3:arguments})} do
	${0}
end
endsnippet

snippet defp
defp ${1:privateFunctionName}${2:(${3:arguments})} do
	${0}
end
endsnippet
