snippet html
<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Undefined</title>
  </head>
  <body></body>
</html>
endsnippet

snippet div
<div id='$1' class='$2'>$0</div>
endsnippet

snippet t
<${1:div}>
</$1>
endsnippet

snippet a
<a href='$1'${2: class='${3:link}'}>$0</a>
endsnippet

snippet ul
<ul>
  <li>$0</li>
</ul>
endsnippet
