snippet cl
class ${1:ClassName}:
  ${0}
endsnippet

snippet ini
def __init__(${1:self}, ${2:args}):
  ${0}
endsnippet

snippet def
def ${1:function_name}(${2:self}, ${3:args}):
  $0
endsnippet

snippet defs
def self.${1:function_name}${2:args}:
  $0
endsnippet
